<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Cyjb.Alfred.Code</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>05F118BC-95E3-4385-9CA3-8210B14A9D2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08407005-847B-487E-883A-A25B62CAC23E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D39DA26-923B-411D-BE17-83E9D6AF6B00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05F118BC-95E3-4385-9CA3-8210B14A9D2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C84EF28-4AAE-42B0-8984-CBAFAC41F7B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05F118BC-95E3-4385-9CA3-8210B14A9D2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>CYJB</string>
	<key>description</key>
	<string>使用 Visual Studio Code 打开当前文件(夹)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>使用 Visual Studio Code 打开</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>filter_vscode.js</string>
				<key>subtext</key>
				<string>使用 Visual Studio Code 打开访达中选中的文件(夹)</string>
				<key>title</key>
				<string>使用 Visual Studio Code 打开</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C84EF28-4AAE-42B0-8984-CBAFAC41F7B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>提示</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>08407005-847B-487E-883A-A25B62CAC23E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open_vscode.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>05F118BC-95E3-4385-9CA3-8210B14A9D2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>使用 Visual Studio Code 打开</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5D39DA26-923B-411D-BE17-83E9D6AF6B00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>在 Visual Studio Code 中打开当前文件(夹)</string>
	<key>uidata</key>
	<dict>
		<key>05F118BC-95E3-4385-9CA3-8210B14A9D2E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>08407005-847B-487E-883A-A25B62CAC23E</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>5D39DA26-923B-411D-BE17-83E9D6AF6B00</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>8C84EF28-4AAE-42B0-8984-CBAFAC41F7B4</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>VSC_PATH</key>
		<string>/Applications/Visual Studio Code.app</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/CYJB/Alfred-Workflow-Code</string>
</dict>
</plist>
